.table-container {
    width: 100%;
    max-width: 1200px; 
    margin: 20px auto;
    overflow: auto; 
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

thead {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    min-width: 100px; 
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


.image img{
    width: 10px;
    height: 10px;
    
}

button{
    background-color: beige;
    
}